.nav-links {
    height: 85vh;

    .side-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 300px;
    }
    
    .links {
        display: block;
        text-decoration: none;
        color: oldlace;
        transition: all 0.5s ease;

        &:hover {
            color: darkmagenta;
        }

        &.brand-logo {
            color: black;
            font-weight: 900;
            font-size: 24px;
            transition: all 0.5s ease;

            &:hover {
                color: white;
            }
        }
    }
}