.nav-links {

    .side-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 300px;
    }
    
    .links {
        display: block;
        text-decoration: none;
        color: oldlace;

        &.brand-logo {
            color: black;
            font-weight: 900;
            font-size: 24px;
        }
    }
}