.track {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid oldlace;
    padding: 10px 0;

    .number {
        width: 5%;
    }

    .track-name {
        width: 50%;
        text-align: center;
    }

    .play {
        border: 1px solid black;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        color: white;
        background: black;
        display: flex;
        font-size: 10px;
        cursor: pointer;
    }

    .add-to-favourites, .remove-from-favourites {
        cursor: pointer;
        color: red;
        font-size: 20px;
    }

    .song-duration, .remove-from-favourites {
        width: 15%;
        text-align: center;
    }

    .add-to-favourites {
        width: 7.5%;
        text-align: center;
    }

}

@media screen and ( max-width: 600px) {
    .track {
        font-size: 12px;

        .add-to-favourites, .remove-from-favourites {
            font-size: 18px;
        }

        .play {
            height: 18px;
            width: 18px;
        }
    }
}

@media screen and ( max-width: 400px) {
    .track {
        width: 90%;
        font-size: 10px;
    }
}