.artist-songs-header {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding: 10px 0;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    .fav-name-heading {
        width: 40%;
        text-align: center;
        font-size: 18px;
    }

    .fav-time-heading {
        width: 20%;
        text-align: center;
        font-size: 18px;
    }

    .fav-play-heading {
        width: 15%;
        text-align: center;
        font-size: 18px;
    }

    .fav-remove-heading {
        width: 15%;
        text-align: center;
        font-size: 18px;
    }


}

@media screen and ( max-width: 500px ) {
    .artist-songs-header {
    
        .fav-name-heading {
            font-size: 12px;
        }
    
        .fav-time-heading {
            font-size: 12px;
        }
    
        .fav-play-heading {
            font-size: 12px;
        }
    
        .fav-remove-heading {
            font-size: 12px;
        }
    
    
    }
}