.album {
    margin-left: 220px;
    min-width: 770px;
    position: relative;
    padding-top: 60px;
    min-height: 577px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 200px;
    justify-content: space-around;
}