.artist-item {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 15px auto;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    font-size: 12px;

    .album-image {
        width: 13%;
        margin-right: 2%;
        align-self: center;
        border: 1px solid black;
        border-radius: 10px;
    }

    .album-name {
        margin-right: 2%;
        width: 28%;
        text-align: center;
        align-self: center;
    }

    .track-name {
        width: 28%;
        margin-right: 2%;
        text-align: center;
        align-self: center;
    }

    .track-duration {
        width: 8%;
        margin-right: 2%;
        text-align: center;
        align-self: center;
    }

    .play, .add-to-favourites, .remove-from-favourites {
        cursor: pointer;
        color: red;
        font-size: 14px;
        margin: auto;
        width: 4%;
        margin-right: 1%;
    }
}


@media screen and (max-width: 800px) {
    .artist-item {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .artist-item {
        font-size: 10px;
        width: 95%;

        // .play {
        //     margin-right: 5%;
        // }
    }
}