.artists-page {
    margin-left: 220px;
    min-width: 770px;
    position: relative;
    padding-top: 60px;
    padding-bottom: 300px;
    min-height: 577px;
    display: flex;
    flex-wrap: wrap;
    
}